<div class="auth">

<%= form_with url: session_path do |f| %>

  <div class="mb-3 row">
    <div class="col-sm-2 col-form-label">
      <%= f.label 'Логин' %>
    </div>

    <div class="col-sm-4">
      <%= f.text_field :login, class: 'form-control form-control-sm' %>
    </div>
  </div>

  <div class="mb-3 row">
    <div class="col-sm-2 col-form-label">
      <%= f.label 'Пароль' %>
    </div>

    <div class="col-sm-4">
      <%= f.password_field :password, class: 'form-control form-control-sm' %>
    </div>
  </div>

  <div class="auth_sub">
    <%= f.submit "Войти", class: 'btn btn-primary btn-sm' %>
  </div>
<% end %>
</div>